<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>talaba</title>
    <link rel="stylesheet" href="./stylehomepage.css">
    
</head>
<body>
    <!-- header section -->
    <div class="container">
        <header class="main-header">
            <div class="main-header-brand">
                <a href="home.ejs">
                    <img src="/picture/photo_2024-12-11_15-53-07.jpg" alt="logo">
                </a>
            </div>
            <nav class="main-navigation">
                <ul class="main-navigation-items">
                    <li class="main-navigation-item">
                        <a href="#">Asosiy</a>
                    </li>
                    <li class="main-navigation-item active"></li>
                        <a href="#">Men haqimda</a>
                    </li>
                    <li class="main-navigation-item"></li>
                        <a href="#">xizmatlarim</a>
                    </li>
                    <li class="main-navigation-item"></li>
                        <a href="#">mijozlarim</a>
                    </li>
                    <li class="main-navigation-item"></li>
                        <a href="#">portifolio</a>
                    </li>
                    <li class="main-navigation-item"></li>
                        <a href="#">blog</a>
                    </li>
                    <li class="main-navigation-item"></li>
                        <a href="#">sheriklarim</a>
                    </li>
    
                </ul>
    
            </nav>
        </header>
    </div>
    <!-- /header section -->

    <!-- main section -->
    <div class="container">
        <section id="main-section" class="main-section"></section>

            <div class="main-section-info">
                <h4 class="main-section-welcom to-uppercase">salom hammage!</h4>
                <h1 class="main-section-introduction to-uppercase">my name is Hojiakbar</h1>
                <h3 class="main-section-position to-uppercase">junior dasturchi & bookworm</h3>
                <button type="button"  id="main-section-action" class="main-section-action to-uppercase">ishlarimni ko'ring</button>
                </div>
                <div class="main-section-image">
                    <img src="/picture/photo_2024-12-11_15-56-40.jpg" alt="rasim bor">
                </div>
        
    </section>
    </div>
    <!-- /main-section -->
     <!-- statistic section -->
     <div class="container">
        <section id="statistics" class="statistics">
        <div class="statistic-primary">
        <div class=" statistics-item">
            <h3 class="statistics-number">
                15k+
            </h3>
            <p class="statistics-title">hursand mijozlar</p>
        </div>
        <div class=" statistics-item">
            <h3 class="statistics-number">
                20k+
            </h3>
            <p class="statistics-title">baxtli mijozlar</p>
        </div>
        <div class=" statistics-item">
            <h3 class="statistics-number">
                25k+
            </h3>
            <p class="statistics-title">mamnun mijozlar</p>
        </div>
        <div class="statistics-item">
            <h3 class="statistics-number">
                30k+
            </h3>
            <p class="statistics-title">xursand mijozlar</p>
        </div>
  


            </div>
        </section>
     </div>
     <!--/ statistic section -->

    <!-- about me section -->
     <div class="container">
        <section id="about-me" class="about-me">
            <div class="about-me-image">
                <img src="/picture/about-me-image.jpg" alt="about-me image">
            </div>
            <div class="about-me__info">
                <h5 class="section-subtitle">men haqimda
                    <span class="blur-line"></span>
                </h5>
                <h3 class="section-title">
                    Junior dasturchi
                </h3>
                <p class="about-me-description">
                    mening ismim Hojiakbar va men 20 yoshda man .3-yil mobaynida dasturchi bo'lib o'rganib kelmoqdaman
                </p>
                <button type="button" class="main-section-action  to uppercase">CV ko'chirish</button>
            </div>
         </section>
         <div class="clarfix"></div>
     </div>
     <!-- /about me section -->

     <!-- services section -->
     <div class="container">
        <section id="services" class="services">
                <h5 class="section-subtitle"></h5>
                mening xizmatlarim<span class="blur-line"></span>
            </h5>
            <h2 class="section-title">
                men taklif <br>
                qiladigan xizmatlar
            </h2>
            <div class="services-cards">
                <div class="service-card">
                    <img class="service-card-icon" src="/picture/internet.png" alt="service 1">
                    <h5 class="service-card-title"> veb dasturlash</h5>
                    <p class="service-card-description">
                        html ,css,bootstrap ,javascript,git,react,
                    </p>
                    <a herf="#" class="service-card-link">
                        ko'proq
                    </a>
                </div>
            </div>
            
         </section>
     </div>
     <!-- <div class="clarfix"></div> -->
     <!-- /services section -->

     <!-- client section -->
      <section id="client">
        <h1>mening mijozlarim</h1>
      </section>
    <!-- /client section -->

    <!-- partifolio section -->
     <section id="partifolio">
        <h1>partifolio</h1>
     </section>
    <!-- /partifolio section -->
     
    <!-- blog section -->
     <section id="blog">
        <h1>blog</h1>
     </section>
    <!-- /blog section -->
    
    <!-- partner section -->
     <section id="partner">
        <h1>sheriklarim</h1>
     </section>
    <!-- /partner section -->


    
</body>
</html>